# Intro to iPython and Python Review

This week you will set up your install enviornment and practice using iPython notebooks. This will also be an each introduction into presenting solutions to students in class.

#### 1. Print two sentences.  Use only one print statement to do it and use the newline escape character between the two sentences. It should (without quotes) read.   
"My name is (your name).    
I am a student at North Seattle College."

In [2]:
print("My name is Florian \nI am a student at North Seattle College")

My name is Florian
I am a student at North Seattle College

#### 2. Define a variable called phone and insert a phone number without dashes. Print out    
"My phone number is (phone number here)"

In [7]:
phone = 3309788234
print("My phone number is", phone)

My phone number is 3309788234

#### 3. Be sure to use the f functionality of printing. Save in a variable called phone a phone number with dashes and another variable with your name in it. Print out    
"Hello my name is (your name) and my phone number is (phone number with dashes)"

In [16]:
name = "florian"
phone = "330-978-8234"
print(f"hello my name is", name,"and my phone number is ", phone)

hello my name is florian and my phone number is  330-978-8234

#### 4. Create variables for the month and year you will graduate in one line. 
#### Using the variables print out "I graduate in (month) of (year)."
Don't forget the period.

In [14]:
month = "June"
year = 2026
print("I graduate in", month, "of", year,".")

I graduate in June of 2026 .

### Mathematical

#### 5. Create a variable called ans and into it save the solution to 12 times 5 minus 3 divided by 2. Be sure you write in exactly that order. Print ans. Now write a comment underneath explaining what the TYPE of ans is at the end.

In [20]:
ans = 12*5-3/2
print(ans)
#float

<class 'float'>

### Decision Structures

#### 6. Create a variable to hold the string "October". Now write an if/else statement that tests if that variable says "October". If it does, print "31 days". If it does not, print "30 days"

In [ ]:
x = "October"
if x == "October":
    print("31 days")
else:
    print("30 days")

#### 7. Create a variable and save 140 into it. Now create a decision structure using if, elif and else that does the following:    
If the number is greater than 150, print "greater than 150"   
If the number if greater than 100 but less than 151, print "between 100 and 150"   
If the number is less than 100, print "less than 100"

In [22]:
x = 140
if x > 150:
    print("greater than 150")
elif x > 100 or x < 151:
    print("between 100 and 150")
else:
    print("less than 100")

between 100 and 150

#### 8. Create a variable to hold the number 70. Now create two if statements:
#### 1st: if the number is divisible by 5 and by 10, then print "Number is divisible by 5 and 10."    
#### 2nd: if the number is divisible by 7 or by 2, then print "Number is divisible by 7 or by 2"

In [ ]:
x = 70
if x % 5 == 0 and x % 10 == 0:
    "Number is divisible by 5 and 10"
if x % 7 or x % 2:
    "Number is divisible by 7 or by 2"

#### 9. Create a FOR loop that prints the numbers 1 through 100 that are divisible by 7.

In [24]:
for x in range(1,100):
    if x % 7 == 0: 
        print(x)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

#### 10. Use a while loop to print all numbers from 1 to 10 which are divisible by 3. Print the numbers next to each other with a space in between them. Use a while loop and if statement. Sum up the numbers and printt he sum on a new line.

In [32]:
sum = 0
x = 0
while x <= 10:
    if x % 3 == 0:
        print(x, end=" ")
        sum += x
    x += 1
print(f"\nSum: {sum}")

0 3 6 9
Sum: 18

#### 11. You will be creating a nested loop like we did in class but with a twist. Ultimately, you want 5 sets to print, each one with the output "Set : (set number)" each time a new set is looped into. Then before you print all the numbers in that set, you want to test if the number is divisible by 2. If it is, print a string 5 times that looks like this: "Student (number)".  So it would have 5 sets... some of them would have strings printed in them, some would not. The ones that would have strings in them would show output like:
"    
Set: 1    
Set: 2    
Student 1    
Student 2    
Student 3    
Student 4    
Student 5    
Set: 3     
..."

In [5]:
for set_number in range(1, 6):
    print(f"Set: {set_number}")  # Print set number
    
    if set_number % 2 == 0:
        for student_number in range(1, 6):
            print(f"Student {student_number}")

Set: 1
Set: 2
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 3
Set: 4
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 5

#### 12. Create a variable called school to hold the string "Hogwarts". Create two more variables, the first (call it first) and it will slice out the "Hog" and the other (call it second) will slice out the "warts" from the first variable. (Do not just save the strings "Hog and "warts" into these two variables!) Now print first and second and then print the last letter of school.

In [38]:
school = "Hogwarts"
first = school.strip("Hog")
second = school.strip("warts")
print(first, second)
print(school[-1])

warts Hog
s

#### 13. Create a list called chars and save these strings in: Thor, She-Hulk, Loki.  Now use a FOR loop to print each item as a concatenation of the string: " is a character in the Marvel Cinematic Universe.."  So the output will be:
Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

In [40]:
chars = ["Thor", "She-Hulk","Loki"]
for x in chars:
    print(x + " is a character in the Marvel Cinematic Universe.")

Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

#### 14. Create a nested list called months. It will be a list with 6 lists within it. In each nested list will be the name of a month as a string and then the number of days it has. Create this using the first 6 months. Now use a loop with range and len function to print the following string format on each iteration:    
"January has 31 days"  .... (month name) has (month days) days.

In [41]:
months = [
    ["January", 31],
    ["February", 28],
    ["March", 31],
    ["April", 30],
    ["May", 31],
    ["June", 30]
]

for x in range(len(months)):
    month = months[x][0]
    days = months[x][1]
    print(f"{month} has {days} days")

January has 31 days
February has 28 days
March has 31 days
April has 30 days
May has 31 days
June has 30 days

#### 15. Create a dictionary called dog that hold the data below. Print it. Then print the value of the Breed key. Then use the values in the dictionary to print out the string: "The Corgi is expected to live about 13 years."    
Data:     
Breed = Corgi   
Age Exp. = 13   
Type = Cattle herding

In [42]:
dog = {
    "Breed": "Corgi",
    "Age Exp.": 13,
    "Type": "Cattle herding"
}

print(dog)
print(dog["Breed"])
print(f"The {dog['Breed']} is expected to live about {dog['Age Exp.']} years.")

{'Breed': 'Corgi', 'Age Exp.': 13, 'Type': 'Cattle herding'}
Corgi
The Corgi is expected to live about 13 years.

#### 16. In an external file named AD450_math create a function called `add` that adds two numbers together. Import the function from the module and use it to output the result of 2 + 2.

In [1]:
import AD450_math

AD450_math.add(2,2)

4

#### 17. Next do the following:
1. Run the first cell with `AD450_math.multiply(2, 2)`. Confirm the function does exist in your module. You'll leave this error in your submission.
2. Write the code for `multiply` in `AD450_math`.
3. Add code to the next cell to reload the module. You must do this without restarting your notebook.
4. Run the final cell with the reloaded module.

In [2]:
# Cell with import error
AD450_math.multiply(2, 2)

AttributeError: module 'AD450_math' has no attribute 'multiply'

In [ ]:
# Reload cell

In [2]:
# Cell with correct output 
import AD450_math
AD450_math.multiply(2, 2)

4

#### 18. Complet the following steps:
1. Create a variable `a = 1`
2. In another cell print out the value stored in `a`
3. Set `a = 4`
4. Rerun the cell that printed out `a` in step 2
5. Explain in class what happened any why this could lead to issues when working with notebooks

In [1]:
# Create a
a = 1

In [4]:
# Print a
print(a)

4

In [3]:
# Set a to 4
a = 4

The value of a is globally reset across each cell, so reusing a in this scenario sould cause problems later on if the value of a is supposed to remain 1 instead of for for some section of the program.