# Intro to Pandas
___

**pandas** provides data structures and data manipulation tools designed for fast & easy data cleaning and analysis.

pandas adopts array-based computing from NumPy, but is designed for **tabular** or **heterogenous** data.

pandas has two primary data structures:

- **Series** - one-dimensional array-like object with a sequence of values having the same datatype
- **DataFrame** - rectangular table of data with ordered collection of columns, each of which can be a different value type

In [304]:
#As allways we import pandas and numpy
import pandas as pd
import numpy as np

### Series

Has a sequence of values (all the same datatype) and an associated array of data labels called its **index**. If not specified otherwise, the index values are sequential integers.

pandas can automatically determine datatype of values when a Series is created, but datatype can also be specified.

A Series is like a fixed-length, ordered dict with a mapping of index values to data values.

The array representation and index object of a Series can be accessed via its **values** and **index** attributes.

Problem 1: Create a series 4 numerical values. Print the series, the values and the index of the series.

In [305]:
data = pd.Series([10,20,30,40])

print("Series:")
print(data)

print("\nValues:", data.values)

#print(data.index)
#List converision for readability
print("Index:", data.index.tolist()) 
print()

Series:
0    10
1    20
2    30
3    40
dtype: int64

Values: [10 20 30 40]
Index: [0, 1, 2, 3]

Problem 2: Create a new series with the same values but with string values for the index. Select and print out one of the values in the series with the index.

In [306]:
data = pd.Series([10,20,30,40], index=["a", "b", "c", "d"])

print("Series:")
print(data)
print()

# Value by string index
print("\nValue at index 'b':", data.loc["b"])
print()

Series:
a    10
b    20
c    30
d    40
dtype: int64


Value at index 'b': 20

Problem 3: You can also create a series from a python dict. Create a dict called `states_dict` with the state name as the key and the number as the value.
'Ohio' 35000
'Texas' 71000
'Oregon' 16000 
'Utah' 5000
Use the dict `states_dict` to create a series called `states_series`.

In [307]:
states_dict = {
    'Ohio': 35000,
    'Texas': 71000,
    'Oregon': 16000,
    'Utah': 5000
}

states_series = pd.Series(states_dict)

print("States Series:")
print(states_series)
print()

States Series:
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Problem 4: Updated the index of `state_series` to be the abbreviation of the state names. Do this in place.

In [308]:
states_series.index = ['OH', 'TX', 'OR', 'UT']
print("Updated States Series:")
print(states_series)

Updated States Series:
OH    35000
TX    71000
OR    16000
UT     5000
dtype: int64

### DataFrame

A pandas DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type.

Sort of a dict of Series all sharing the same index.

- DataFrames have both row and column indices
- DataFrames are physically 2D, but can represent higher-dimensional data using hierarchical indexing
- DataFrame rows are sometimes referred to as axis=0
- DataFrame columns are sometimes referred to as axis=1


You can create DataFrames from dicts as well.

In [309]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
      }

df = pd.DataFrame(data)

df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

Problem 5: Update the index of the DataFrame df to be the words for each number. i.e. 1 -> one

In [310]:
number_to_word = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
}

df.index = df.index.map(number_to_word)
print("Updated DataFrame:")
print(df)

Updated DataFrame:
        state  year  pop
zero     Ohio  2000  1.5
one      Ohio  2001  1.7
two      Ohio  2002  3.6
three  Nevada  2001  2.4
four   Nevada  2002  2.9
five   Nevada  2003  3.2

Problem 6: Figure out two ways to access a column from df. Output the results.

In [311]:
# w/dot notation
state_column_dot = df.state
print(state_column_dot)

zero       Ohio
one        Ohio
two        Ohio
three    Nevada
four     Nevada
five     Nevada
Name: state, dtype: object

Problem 7: Figure out two ways to access a row from df. Output the results.

In [312]:
# w/bracket notation
# A general method that workds regardless of column name and is useful when 
# column names contain spaces or special characters. This method is flexible
# and works for all column names, providing a general aprproach to accessing
# some row from the Data Frame.  
year_column_bracket = df['year']
print(year_column_bracket)

zero     2000
one      2001
two      2002
three    2001
four     2002
five     2003
Name: year, dtype: int64

Problem 8: Add a new column to your dataframe called 'rating' with the values `[5,4,3,2,1,0]`

In [313]:
df['rating'] = [5, 4, 3, 2, 1, 0]
print("Updated DataFrame")
print(df)

Updated DataFrame
        state  year  pop  rating
zero     Ohio  2000  1.5       5
one      Ohio  2001  1.7       4
two      Ohio  2002  3.6       3
three  Nevada  2001  2.4       2
four   Nevada  2002  2.9       1
five   Nevada  2003  3.2       0

Problem 9: Create another column called `nonsense` that is the rating multiplied by the pop.

In [314]:
df['nonsense'] = df['rating'] * df['pop']
print(df)

        state  year  pop  rating  nonsense
zero     Ohio  2000  1.5       5       7.5
one      Ohio  2001  1.7       4       6.8
two      Ohio  2002  3.6       3      10.8
three  Nevada  2001  2.4       2       4.8
four   Nevada  2002  2.9       1       2.9
five   Nevada  2003  3.2       0       0.0

Problem 10: Create three series using using numpy.
series_numerical: The values 0-4 with index a-e
series_zeros: All zeros with index a-e
series_random: 5 random numbers qith index a-3

DataFrame called `numeric_df` from these three series. Each series will be a row and the column.

In [315]:
series_numerical = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
series_zeros = pd.Series(np.zeros(5), index=['a', 'b', 'c', 'd', 'e'])
series_random = pd.Series(np.random.rand(5), index=['a', 'b', 'c', 'd', 'e'])

numeric_df = pd.DataFrame([series_numerical, series_zeros, series_random])

print(numeric_df)

          a         b         c         d         e
0  0.000000  1.000000  2.000000  3.000000  4.000000
1  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.307946  0.190624  0.346892  0.818972  0.726278

Problem 11: Transpose the DataFrame `numeric_df` so that the series become columns instead of rows. Save this to a variable called `transposed_numeric_df`. Rename the columns to `numerical`, `zeros`, and `random`.

In [316]:
transposed_numeric_df = numeric_df.T
transposed_numeric_df.columns = ['numerical', 'zeros', 'random']

print(transposed_numeric_df)

   numerical  zeros    random
a        0.0    0.0  0.307946
b        1.0    0.0  0.190624
c        2.0    0.0  0.346892
d        3.0    0.0  0.818972
e        4.0    0.0  0.726278

Problem 12: Output `transposed_numeric_df` ordered by `random` descending.

In [317]:
sorted_transposed_df = transposed_numeric_df.sort_values(by='random', ascending=False)

print(sorted_transposed_df)

   numerical  zeros    random
d        3.0    0.0  0.818972
e        4.0    0.0  0.726278
c        2.0    0.0  0.346892
a        0.0    0.0  0.307946
b        1.0    0.0  0.190624

Problem 13: Select all rows from `transposed_numeric_df` where the column `numerical` is greater than 2.

In [318]:
filtered_df = transposed_numeric_df[transposed_numeric_df['numerical'] > 2]

print(filtered_df)

   numerical  zeros    random
d        3.0    0.0  0.818972
e        4.0    0.0  0.726278

Problem 14: Add a column called `random_5` that is the column random multiplied by 5. Select all rows from `transposed_numeric_df` where `numerical` is greater than `random_5`.

In [319]:
transposed_numeric_df['random_5'] = transposed_numeric_df['random'] * 5
filtered_df = transposed_numeric_df[transposed_numeric_df['numerical'] > transposed_numeric_df['random_5']]

print(filtered_df)

   numerical  zeros    random  random_5
b        1.0    0.0  0.190624  0.953120
c        2.0    0.0  0.346892  1.734458
e        4.0    0.0  0.726278  3.631389

Problem 15: Add a column to transposed_numberic_df called `even` that is True when `numerical` is even and `False` when `numerical` is odd.

In [320]:
transposed_numeric_df['even'] = transposed_numeric_df['numerical'] % 2 == 0

print(transposed_numeric_df)

   numerical  zeros    random  random_5   even
a        0.0    0.0  0.307946  1.539730   True
b        1.0    0.0  0.190624  0.953120  False
c        2.0    0.0  0.346892  1.734458   True
d        3.0    0.0  0.818972  4.094860  False
e        4.0    0.0  0.726278  3.631389   True

Problem 16: Add a column called `even_odd` that has the value `odd` when `numerical` is odd and `even` when `numerical` is even.

In [321]:
transposed_numeric_df['even_odd'] = transposed_numeric_df['numerical'].apply(lambda x: 'even' if x % 2 == 0 else 'odd')

print(transposed_numeric_df)

   numerical  zeros    random  random_5   even even_odd
a        0.0    0.0  0.307946  1.539730   True     even
b        1.0    0.0  0.190624  0.953120  False      odd
c        2.0    0.0  0.346892  1.734458   True     even
d        3.0    0.0  0.818972  4.094860  False      odd
e        4.0    0.0  0.726278  3.631389   True     even

Problem 17: Print out the sum of all columns.

In [322]:
#all columns
column_sums = transposed_numeric_df.sum()

#numeric columns only
numerical_column_sums = transposed_numeric_df.select_dtypes(include='number').sum()

#print(column_sums)
print(numerical_column_sums)

numerical    10.000000
zeros         0.000000
random        2.390711
random_5     11.953557
dtype: float64

Problem 18: Print out index of the row with the max value for each column. i.e. for `numerical` it will be the last row `e` because it has a value of 5.

In [323]:
max_index_per_column = transposed_numeric_df.idxmax()

print(max_index_per_column)

numerical    e
zeros        a
random       d
random_5     d
even         a
even_odd     b
dtype: object